.sign-in {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
